.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    background-color: beige;
        }

.usedblock {
    background-color: red;
}